<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">
  <display-name>AppName</display-name>


<!-- Register Data endpoint,init param -->

<servlet-mapping>
<servlet-name>Register</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Register</servlet-name>
<servlet-class>registration.RegisterData</servlet-class>

<init-param>
<param-name>url</param-name>
<param-value>jdbc:mysql://localhost:3306/registry</param-value>
</init-param>

<init-param>
<param-name>uname</param-name>
<param-value>root</param-value>
</init-param>


<init-param>
<param-name>pass</param-name>
<param-value>Deva@2003</param-value>
</init-param>
</servlet>










<!-- Validate Data endpoint,init param -->

<servlet-mapping>
<servlet-name>Valid</servlet-name>
<url-pattern>/validate</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Valid</servlet-name>
<servlet-class>registration.Validation</servlet-class>

<init-param>
<param-name>url</param-name>
<param-value>jdbc:mysql://localhost:3306/registry</param-value>
</init-param>

<init-param>
<param-name>uname</param-name>
<param-value>root</param-value>
</init-param>


<init-param>
<param-name>pass</param-name>
<param-value>Deva@2003</param-value>
</init-param>
</servlet>








<!-- Show Json Data endpoint,init param -->

<servlet-mapping>
<servlet-name>Show</servlet-name>
<url-pattern>/show</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Show</servlet-name>
<servlet-class>registration.ShowData</servlet-class>

<init-param>
<param-name>url</param-name>
<param-value>jdbc:mysql://localhost:3306/registry</param-value>
</init-param>

<init-param>
<param-name>uname</param-name>
<param-value>root</param-value>
</init-param>


<init-param>
<param-name>pass</param-name>
<param-value>Deva@2003</param-value>
</init-param>
</servlet>

</web-app>
